# --------------------
# Java
# --------------------
*.class
*.log
*.jar
*.war
*.ear
target/
build/

# --------------------
# macOS
# --------------------
.DS_Store

# --------------------
# VS Code
# --------------------
.vscode/

# --------------------
# Environment / Secrets
# --------------------
.env
.env.*
*.key
*.pem
*.secret

# --------------------
# Terraform
# --------------------
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
crash.log

# --------------------
# Node / Frontend
# --------------------
node_modules/
dist/

# --------------------
# Docker
# --------------------
.docker/

# --------------------
# Misc
# --------------------
*.zip
*.tar.gz
*.rar
